/dist
/i18n/.zanata-cache
/i18n/messages.pot
/i18n/po
/i18n/zanata-cli
/src/.vs
/src/packages
/src/**/settings.conf
/uwp/_pkginfo.txt
/uwp/AppPackages
/uwp/BundleArtifacts
/uwp/Package.StoreAssociation.xml
/uwp/*.pfx
/uwp/*.wapproj.user
__pycache__
bin
obj
