version: 1.0.{build}
image: Visual Studio 2019
configuration: Release
environment:
  UseTemporarySignCert: true
  SonarQubeToken:
    secure: 2aNov8Lbsmce/BShnhVa2ZeD6Og9kSQC2vO/6SegYlWx84TSQb2wI3Iu9fG1JYA3
  matrix:
    # 32 bits
    - PYTHON: "C:\\Python38"
      PYTHON_VERSION: "3.8.x"
      PYTHON_ARCH: "32"
    # 64 bits
    - PYTHON: "C:\\Python38-x64"
      PYTHON_VERSION: "3.8.x"
      PYTHON_ARCH: "64"
before_build:
- ps: >-
    if ($env:APPVEYOR_REPO_TAG -eq "true")

    {
        Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME.TrimStart("v"))"
    }

    else

    {
        Update-AppveyorBuild -Version "dev-$($env:APPVEYOR_REPO_COMMIT.Substring(0, 7))"
    }


    nuget restore src\WinDynamicDesktop.sln

    choco install "sonarscanner-msbuild-net46" -y

    SonarScanner.MSBuild.exe begin /k:"t1m0thyj_WinDynamicDesktop" /d:"sonar.host.url=https://sonarcloud.io" /o:"t1m0thyj" /d:"sonar.login=$env:SonarQubeToken"
build:
  verbosity: minimal
after_build:
- ps: >-
    SonarScanner.MSBuild.exe end /d:"sonar.login=$env:SonarQubeToken"

    %PYTHON%/python scripts\package_zip.py
artifacts:
- path: dist\WinDynamicDesktop_Portable*.zip
  name: Portable ZIP
- path: uwp\AppPackages\**\WinDynamicDesktop*.appxbundle
  name: UWP app