<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customConfig" type="WinDynamicDesktop.CustomConfigSection,WinDynamicDesktop"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>

  <customConfig>
    <defaultThemes>
      <theme id="Catalina">
        <![CDATA[
        https://onedrive.live.com/download?cid=CC2E3BD0360C1775&resid=CC2E3BD0360C1775%216180&authkey=AH0mox59q_XNNAA
        https://bitbucket.org/t1m0thyj/wdd-themes/downloads/Catalina.ddw
        ]]>
      </theme>
      <theme id="Mojave_Desert">
        <![CDATA[
        https://onedrive.live.com/download?cid=CC2E3BD0360C1775&resid=CC2E3BD0360C1775%216178&authkey=AOIt0bB-rq11U34
        https://bitbucket.org/t1m0thyj/wdd-themes/downloads/Mojave_Desert.ddw
        ]]>
      </theme>
      <theme id="Solar_Gradients">
        <![CDATA[
        https://onedrive.live.com/download?cid=CC2E3BD0360C1775&resid=CC2E3BD0360C1775%216179&authkey=AHKnzpdn1Ulhpb8
        https://bitbucket.org/t1m0thyj/wdd-themes/downloads/Solar_Gradients.ddw
        ]]>
      </theme>
    </defaultThemes>
  </customConfig>
</configuration>
