<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angle" version="2.0.0" targetFramework="net461" />
  <package id="Costura.Fody" version="3.0.0" targetFramework="net461" />
  <package id="DesktopBridge.Helpers" version="1.1" targetFramework="net461" />
  <package id="Fody" version="3.0.4" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.3.1" targetFramework="net461" />
  <package id="SolarCalculator" version="2.0.2" targetFramework="net461" />
</packages>