<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="DesktopBridge.Helpers" version="1.2.2" targetFramework="net472" />
  <package id="EndianBitConverter" version="1.1.0" targetFramework="net472" />
  <package id="Fody" version="6.2.0" targetFramework="net472" developmentDependency="true" />
  <package id="ImageListView" version="13.8.2" targetFramework="net472" />
  <package id="NamedPipeWrapper" version="1.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NGettext" version="0.6.5" targetFramework="net472" />
  <package id="PListNet" version="3.2.0" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net472" />
  <package id="RestSharp" version="106.11.4" targetFramework="net472" />
  <package id="SunCalcNet" version="1.1.3" targetFramework="net472" />
</packages>