<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" />
  <package id="DesktopBridge.Helpers" version="1.2.1" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="ImageListView" version="13.4.0" targetFramework="net461" />
  <package id="NamedPipeWrapper" version="1.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NGettext" version="0.6.3" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net461" />
  <package id="RestSharp" version="106.6.9" targetFramework="net461" />
  <package id="SunCalcNet" version="1.0.2" targetFramework="net461" />
</packages>