name: Build

on:
  push:
    branches: [ '**' ]
    tags-ignore: [ '**' ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      fail-fast: false
      matrix:
        platform: [x86, x64, arm64]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - uses: microsoft/setup-msbuild@v1

    - run: scripts\version.ps1

    - run: dotnet restore src\WinDynamicDesktop.sln

    - run: dotnet publish src\WinDynamicDesktop.csproj -a ${{ matrix.platform }} -c Release --no-restore --self-contained -p:EnableCompressionInSingleFile=$env:EnableCompressionInSingleFile -p:IncludeNativeLibrariesForSelfExtract=$env:IncludeNativeLibrariesForSelfExtract -p:PublishSingleFile=$env:PublishSingleFile
      env:
        EnableCompressionInSingleFile: true
        IncludeNativeLibrariesForSelfExtract: true
        PublishSingleFile: true

    - run: msbuild uwp\WinDynamicDesktop.Package.wapproj /v:m /p:AppxBundle=$env:AppxBundle /p:Configuration=$env:Configuration /p:Platform=$env:Platform /p:UapAppxPackageBuildMode=$env:UapAppxPackageBuildMode /p:UseTemporarySignCert=$env:UseTemporarySignCert
      env:
        AppxBundle: Never
        Configuration: Release
        Platform: ${{ matrix.platform }}
        UapAppxPackageBuildMode: SideloadOnly
        UseTemporarySignCert: true

    - uses: actions/upload-artifact@v3
      with:
        name: exe-${{ matrix.platform }}
        path: src\bin\Release\**\publish\*.exe

    - uses: actions/upload-artifact@v3
      with:
        name: msix-${{ matrix.platform }}
        path: uwp\AppPackages\**\*.msix
