name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version number for release
        required: true
        type: string

jobs:
  release:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - uses: microsoft/setup-msbuild@v2

    - run: echo ${{ secrets.ENV_FILE }} | base64 --decode > .env
      shell: bash

    - run: scripts\version.ps1 ${{ github.event.inputs.version }}

    - run: scripts\package.ps1

    - run: gh release create $env:TAG_NAME --draft --title "$env:RELEASE_NAME" (Get-Item dist\*.exe) dist\checksums.txt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RELEASE_NAME: WinDynamicDesktop ${{ github.event.inputs.version }}
        TAG_NAME: v${{ github.event.inputs.version }}

    - uses: actions/upload-artifact@v6
      with:
        name: msixupload  # To download/extract: gh run download -n msixupload
        path: dist\*.msixupload
